%nav.navbar.navbar-toggleable-md.navbar-expand-lg.navbar-dark.bg-dark{style:"background-color: #e3f2fd;"}
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  = link_to "Optimizely Ruby SDK", root_path, class:"navbar-brand"
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item{class:"#{assign_active_class(root_path)}"}
        = link_to "Home",root_path,class:"nav-link"
      %li.nav-item{class:"#{assign_active_class(demo_config_path)}"}
        = link_to "Demo",demo_config_path,class:"nav-link"
