.container
  / Example row of columns
  = render "shared/tabs"
  .row
    = link_to 'Clear Messages',
    delete_messgaes_path,
    method: :delete,
    data: { confirm: 'Are you sure? want to delete all log messages!' },
    class:"btn btn-danger #{!@logs.present? ? 'disabled' : ''}"
  %br
  .row
    %table#example.table.table-sm
      %thead
        %tr
          %th Timestamp
          %th Type
          %th Message
      %tbody
        - @logs.each do |log|
          %tr{class:"#{get_level_class(log.type)}"}
            %td
              = log.created_at.present? ? log.created_at.strftime("%m/%d/%Y at %I:%M %p") : ""
            %td
              = "LOG #{LogMessage::LOGGER_LEVELS.key(log.type)}"
            %td
              = log.message

:javascript
  $(document).ready(function() {
    $('#example').dataTable({
      'bSort': false
    });
  });